.paginationBttns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #2b2eff;
    color: #2b2eff;
    cursor: pointer;
}

.paginationBttns a:hover {
    color: white;
    background-color: #2b2eff;
}

.paginationActive a{
    color: gray;
    background-color: #2b2eff;
}

.paginationDisabled a {
    color: black;
    background-color: grey;
}

@media screen and (max-width: 600px){
    .search-input {
        width: 50%;
    }
}

@media only screen and (min-width: 600px) {
    .search-input {
        width: 40%;
    }
}

@media only screen and (min-width: 768px) {
    .search-input {
        width: 30%;
    }
}

@media only screen and (min-width: 992px) {
    .search-input {
        width: 20%;
    }
}
